
<body background="">
<center><h1>All about me!</h1></center><br /><br />
<p>This is a page about... <%= @Home.name %></p><br />
<p>Today is <%= Date.today %>. My birthday is <%= @Home.birthdate %>. Have a great day!</p>
</body>


